body {
    background-image: url(../images/body.png);
}
.fighter {
    left: 0px;
    top: 0px;
    bottom: 0px;
    padding-left: 40px;
    margin-top: 270px;
    z-index: 1;
}

.opponent {
    left: 0px;
    top: 0px;
    bottom: 0px;
    padding-left: 700px;
    margin-top: 270px;
    z-index: 1;
}

.greeting {
    left: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    z-index: 4;
}

.prompt {
    left: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    padding-left: 30%;
    z-index: 2;
}

.notify {
    left: 15px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    margin-left: 30%;
    z-index: 2;
    height: 10%;
}

.restart {
    left: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    margin-left: 18%;
    z-index: 2;
    height: 10%;
}

.result {
    left: 0px;
    top: 0px;
    bottom: 207px;
    margin: auto;
    margin-left: 30%;
    z-index: 2;
    height: 10%;
}

.overlay {
    background: black; 
    opacity: 0.25;
}

#text {
    z-index: 5;
    position: absolute;
    width: 93%;
    margin: 0;
    top: 10px;
    right: 35px;
    line-height: 1;
    margin-top: 10px;
}

p.text {
    margin-top: 10px;
}


